<h1 class="fs-1">Our Committee (2025-26):</h1>

<div class="row row-cols-1 row-cols-md-3 g-3">
    <div class="col">
        {% include components/comittee-card.html name="Bartoz" role="President"
        src="/images/favicon.png" degree="4th year comp sci" %}
    </div>
    <div class="col">
        {% include components/comittee-card.html name="Rishi" role="VP"
        src="/images/favicon.png" degree="3th year ..." game_dev="Placeholder
        placeholder Placeholder" %}
    </div>
    <div class="col">
        {% include components/comittee-card.html name="Luke" role="Treasurer"
        src="/images/favicon.png" degree="2nd year ..." game_dev="Placeholder
        placeholder Placeholder" %}
    </div>
    <div class="col">
        {% include components/comittee-card.html name="Fexas" role="Secretary"
        src="/images/favicon.png" degree="2nd year ..." game_dev="Placeholder
        placeholder Placeholder" %}
    </div>
    <div class="col">
        {% include components/comittee-card.html name="Zak" role="Welfare
        Officer" src="/images/comitee_photos/zak.webp" degree="2nd year software
        + electronics" %}
    </div>
    <div class="col">
        {% include components/comittee-card.html name="Oliver" role="Committee
        Member " src="/images/favicon.png" degree="2nd year software +
        electronics" %}
    </div>
    <div class="col"></div>
    <div class="col"></div>
</div>

<p>
    For any queries you can contact us via our
    <a href="mailto:gudevsoc@gmail.com">general committee email</a> and one of
    us will get back to you! If it is directed to a specific member of the
    committee then please address the email to that member. Or feel free to dm a
    committee member on discord (someone with a green name) if you would prefer
</p>
