<h1>Our Committee (2026-27)</h1>

<div class="committee-people">
	{% for person in site.data.commitee %}
	<div class="committee-person">
		<img src="{{site.staticurl}}/images/comitee_photos/{{person.img}}"
		     alt="{{person.name}}, {{person.role}}"
		     class="committee-photo"
		>
		<div>
			<h2>{{person.name}}</h2>
			<p class="committee-role">{{person.role}}</p>
			<p class="committee-game">Fav Game: {{person.favourite_game}}</p>
		</div>
	</div>
	{% endfor %}
</div>

<footer class="committee-footer py-2">
	<p>
		For any queries you can contact us via our general committee email, if it is directed to a specific member of the committee then please address the email to that member.
	</p>
	<div class="container">
		<div class="committee-links">
			<a href="mailto:gudevsoc@gmail.com"
			   class="committee-link"
			   aria-label="Email the GUDEV committee"
			>
				<i class="bi bi-envelope-fill" aria-hidden="true"></i>
				<span>gudevsoc@gmail.com</span>
			</a>
		</div>
	</div>
</footer>
