<h1>Participate?</h1>

<p>
    Interested? We hope so! Whether you've made a thousand games or are a
    complete beginner, <b>all</b> you need to do to get involved is to hop onto
    <a href="https://discord.gg/DhT3XgU">our discord</a> or come along to our
    next event.
</p>

<p>
    And, if you have a project you're working on or a really good idea but need
    some artists or extra programmers to help you bring it to life (or if you
    just fancy a chat), feel free to join our Discord - just don't expect your
    dream game to make itself!
</p>

<p>
    Whether or not you have made a hundred games, or none at all, we will do our
    best to help you to make your game in 48 hours - all you need to do is pick
    up a ticket and turn up!
</p>
<p>
    Can't program? Never Fear! Game Development requires of a number of skills
    from a variety of disciplines - Art, Programming, Sound Design, and a
    variety of other skills are all valuable assets to a Game Development Team.
    You are free to use whatever tools you want to make your game, but you can
    take a look at our resources page if you want some recommendations.
</p>
