<h1>Useful Resources</h1>

<p>
	Want to make video games but not sure how to get started? You've come to the
	right place. This page lists various freely available tools, tutorials and
	resources that will hopefully help you to make your games!
</p>

<p>
	Pick the area you need below. Each one opens a quick list without taking you
	away from the page.
</p>

<footer class="resources-footer py-2">
	<div class="container">
		<div class="resource-links">
			<button type="button"
			        class="resource-link"
			        data-bs-toggle="modal"
			        data-bs-target="#resourcesTutorials"
			>
				<i class="bi bi-play-circle" aria-hidden="true"></i>
				<span>Tutorials</span>
			</button>

			<button type="button"
			        class="resource-link"
			        data-bs-toggle="modal"
			        data-bs-target="#resourcesVersionControl"
			>
				<i class="bi bi-git" aria-hidden="true"></i>
				<span>Git</span>
			</button>

			<button type="button"
			        class="resource-link"
			        data-bs-toggle="modal"
			        data-bs-target="#resourcesEngines"
			>
				<i class="bi bi-controller" aria-hidden="true"></i>
				<span>Engines</span>
			</button>

			<button type="button"
			        class="resource-link"
			        data-bs-toggle="modal"
			        data-bs-target="#resourcesFrameworks"
			>
				<i class="bi bi-code-square" aria-hidden="true"></i>
				<span>Code</span>
			</button>

			<button type="button"
			        class="resource-link"
			        data-bs-toggle="modal"
			        data-bs-target="#resourcesArt"
			>
				<i class="bi bi-palette" aria-hidden="true"></i>
				<span>Art</span>
			</button>

			<button type="button"
			        class="resource-link"
			        data-bs-toggle="modal"
			        data-bs-target="#resourcesAudio"
			>
				<i class="bi bi-music-note-beamed" aria-hidden="true"></i>
				<span>Audio</span>
			</button>
		</div>
	</div>
</footer>

<div class="modal fade resource-modal" id="resourcesTutorials" tabindex="-1" aria-labelledby="resourcesTutorialsLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="resourcesTutorialsLabel">Tutorials</h2>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<a href="https://learn.unity.com/" target="_blank" rel="noreferrer">Unity Learn</a>
				<a href="https://docs.godotengine.org/en/stable/getting_started/introduction/index.html" target="_blank" rel="noreferrer">Godot getting started</a>
				<a href="https://www.youtube.com/@Brackeys" target="_blank" rel="noreferrer">Brackeys</a>
				<a href="https://gameprogrammingpatterns.com/" target="_blank" rel="noreferrer">Game Programming Patterns</a>
			</div>
		</div>
	</div>
</div>

<div class="modal fade resource-modal" id="resourcesVersionControl" tabindex="-1" aria-labelledby="resourcesVersionControlLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="resourcesVersionControlLabel">Version Control</h2>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<a href="https://git-scm.com/book/en/v2" target="_blank" rel="noreferrer">Pro Git book</a>
				<a href="https://docs.github.com/en/get-started" target="_blank" rel="noreferrer">GitHub docs</a>
				<a href="https://learngitbranching.js.org/" target="_blank" rel="noreferrer">Learn Git Branching</a>
			</div>
		</div>
	</div>
</div>

<div class="modal fade resource-modal" id="resourcesEngines" tabindex="-1" aria-labelledby="resourcesEnginesLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="resourcesEnginesLabel">Game Engines</h2>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<a href="https://unity.com/" target="_blank" rel="noreferrer">Unity</a>
				<a href="https://godotengine.org/" target="_blank" rel="noreferrer">Godot</a>
				<a href="https://www.unrealengine.com/" target="_blank" rel="noreferrer">Unreal Engine</a>
				<a href="https://love2d.org/" target="_blank" rel="noreferrer">LÖVE</a>
				<a href="https://www.lexaloffle.com/pico-8.php" target="_blank" rel="noreferrer">PICO-8</a>
			</div>
		</div>
	</div>
</div>

<div class="modal fade resource-modal" id="resourcesFrameworks" tabindex="-1" aria-labelledby="resourcesFrameworksLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="resourcesFrameworksLabel">Frameworks</h2>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<a href="https://www.monogame.net/" target="_blank" rel="noreferrer">MonoGame</a>
				<a href="https://www.raylib.com/" target="_blank" rel="noreferrer">raylib</a>
				<a href="https://www.libsdl.org/" target="_blank" rel="noreferrer">SDL</a>
				<a href="https://www.pygame.org/" target="_blank" rel="noreferrer">pygame</a>
			</div>
		</div>
	</div>
</div>

<div class="modal fade resource-modal" id="resourcesArt" tabindex="-1" aria-labelledby="resourcesArtLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="resourcesArtLabel">Art</h2>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<a href="https://www.blender.org/" target="_blank" rel="noreferrer">Blender</a>
				<a href="https://krita.org/" target="_blank" rel="noreferrer">Krita</a>
				<a href="https://www.aseprite.org/" target="_blank" rel="noreferrer">Aseprite</a>
				<a href="https://kenney.nl/assets" target="_blank" rel="noreferrer">Kenney assets</a>
				<a href="https://opengameart.org/" target="_blank" rel="noreferrer">OpenGameArt</a>
			</div>
		</div>
	</div>
</div>

<div class="modal fade resource-modal" id="resourcesAudio" tabindex="-1" aria-labelledby="resourcesAudioLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="resourcesAudioLabel">Audio</h2>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<a href="https://www.audacityteam.org/" target="_blank" rel="noreferrer">Audacity</a>
				<a href="https://lmms.io/" target="_blank" rel="noreferrer">LMMS</a>
				<a href="https://sfbgames.itch.io/chiptone" target="_blank" rel="noreferrer">Chiptone</a>
				<a href="https://freesound.org/" target="_blank" rel="noreferrer">Freesound</a>
			</div>
		</div>
	</div>
</div>
