<h1>Our Socials</h1>

<div class="row g-4 align-items-center mb-4">
    <div class="col-md-7">
        <h4 class="fw-bold">Join our Discord</h4>
        <p class="text-white-50 mb-0">
            We mainly use discord for communication therefore it is
            <strong>strongly</strong> recommend to join the discord.
        </p>
    </div>
    <div class="col-md-5">
        <a
            href="https://discord.gg/DhT3XgU"
            class="btn btn-primary btn-lg w-100"
        >
            Join Discord!
        </a>
    </div>
</div>

<hr class="my-4 opacity-25" />

<div class="row g-4 align-items-center mb-4">
    <div class="col-md-7">
        <h4 class="fw-bold">Get Your (Free) Membership</h4>
        <p class="text-white-50 mb-0">
            We are registered with the SRC so please get a membership from there
            (its free).
        </p>
    </div>
    <div class="col-md-5">
        <a
            href="https://www.glasgowunisrc.org/organisation/gudevsoc/"
            class="btn btn-primary btn-lg w-100"
        >
            Src Memberships
        </a>
    </div>
</div>

<hr class="my-4 opacity-25" />

<div class="row g-4 align-items-center mb-4">
    <div class="col-md-7">
        <h4 class="fw-bold">See Our Game Jams</h4>
        <p class="text-white-50 mb-0">
            Most of the previous game jams are posted to our itch page.
        </p>
    </div>
    <div class="col-md-5">
        <a href="https://gudev.itch.io/" class="btn btn-primary btn-lg w-100">
            Itch page
        </a>
    </div>
</div>

<hr class="my-4 opacity-25" />

<div class="row g-4 align-items-center mb-4">
    <div class="col-md-7">
        <h4 class="fw-bold">Follow Us on Instagram</h4>
        <p class="text-white-50 mb-0">
            We sometimes promote our events on instagram so go on give us a
            follow there.
        </p>
    </div>
    <div class="col-md-5">
        <a
            href="https://www.instagram.com/gudevsoc/"
            class="btn btn-primary btn-lg w-100"
        >
            Instagram
        </a>
    </div>
</div>
