<h1 class="fs-1">Our Socials</h1>

<p>
    We mainly use discord for communication therefore it is
    <b>strongly</b> recommend to join the discord

    <button class="btn btn-primary" href="https://discord.gg/DhT3XgU">
        Join Discord!
    </button>
</p>

<p>
    We are registered with the SRC so please get a membership from there (its
    free)
    <button
        class="btn btn-primary"
        href="https://www.glasgowunisrc.org/organisation/gudevsoc/"
    >
        Src Memberships
    </button>
</p>

<p>
    Most of the previous game jams are posted to our itch page
    <button class="btn btn-primary" href="https://gudev.itch.io/">
        Itch page
    </button>
</p>

<p>
    We sometimes promote our events on instagram so go on give us a follow there
    <button
        type="button"
        class="btn btn-primary"
        href="https://www.instagram.com/gudevsoc/"
    >
        Instagram
    </button>
</p>
