@import url("https://fonts.googleapis.com/css?family=Oswald");

:root {
    --bs-body-font-size: 24px !important;
}

nav {
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    font-weight: 300;
    height: 100vh;
}

body {
    background-color: #363d4a;
    display: grid;
    grid-template-columns: 50px 1fr;
    padding-left: 20px;
    overflow-y: hidden;
    height: 100vh;
    font-size: 18px;
}

main {
    overflow-y: scroll;
    width: 100%;
    position: relative;
    scroll-snap-type: y mandatory; /* vertical snap */
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    scroll-snap-align: start;
    max-width: 800px;
    width: 100%;
    min-height: 100vh;
    padding-top: 20px;
    height: auto;
    flex-shrink: 0;
}

h1 {
    color: rgb(94, 23, 235);
}

body::after {
    content: "";
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 150px;
    pointer-events: none;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(94, 23, 235, 0.1)
    );
}

/* bootstrap overrides */

h1 {
    font-size: 5rem !important;
}

h1 > b {
    color: rgb(94, 23, 235);
}

.btn-primary {
    --bs-btn-color: var(--bs-white) !important;
    --bs-btn-bg: rgb(94, 23, 235) !important;
    --bs-btn-border-color: rgb(94, 23, 235) !important  ;
    --bs-btn-hover-color: var(--bs-white) !important;
    --bs-btn-hover-bg: #5515d4 !important;
    --bs-btn-hover-border-color: #5515d4 !important;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb) !important;
    --bs-btn-active-color: var(--bs-btn-hover-color) !important;
    --bs-btn-active-bg: #4b12bc !important;
    --bs-btn-active-border-color: #4b12bc !important;

    display: block !important;
    margin-top: 5px !important;
    margin-bottom: 50px !important;
    align-self: center;
    margin: auto;

    width: 100%;
    max-width: 400px;
    height: 50px;
}
