<div class="card">
    <div
        style="display: flex; align-items: center; justify-content: center"
        class="pt-3"
    >
        <img
            style="height: 7.5rem; width: 7.5rem"
            src="{{site.staticurl}}/{{include.src}}"
            class="committee_image img-fluid"
            alt="..."
        />
    </div>
    <div class="card-body">
        <h5 class="card-title">{{include.name}}</h5>
        <p class="card-text text-body-secondary">
            <b>{{include.role}}</b>
        </p>
    </div>
</div>
