---
layout: base
permalink: /
---

<main
    class="p-3"
    data-bs-spy="scroll"
    data-bs-target="#navbar-example2"
    data-bs-root-margin="0px 0px -40%"
    data-bs-smooth-scroll="true"
>
    <section id="our-society">{% include sections/about-gudev.html %}</section>

    <section id="gamejam">{% include sections/gamejam.html %}</section>

    <section id="join">{% include sections/join.html %}</section>

    <section id="socials">{% include sections/socials.html %}</section>

    <section id="resources">{% include sections/resources.html %}</section>

    <section id="committee">{% include sections/comittee.html %}</section>
</main>

<style></style>
